// Colors
// sv = Sucursal Virtual

$sv-color-white:                    #fff;
$sv-color-black:                    #000;

$sv-color-primary:                  #0070C2;
$sv-color-primary-dark:             #3F8AC6;
$sv-color-primary-light:            #00B8E4;

$sv-color-secondary:                    #79CE1E;
$sv-color-secondary-dark:               #2CB582;
$sv-color-secondary-light:              #18D250;
$sv-color-secondary-alternative:        #25869F;
$sv-color-secondary-alternative-dark:   #14586A;

$sv-color-energy:                   #2CB582;
$sv-color-power:                    #00DC41;
$sv-color-aditional:                #0087A3;
$sv-color-iva:                      #00586D;

$sv-color-terciary:                 #FF8900;
$sv-color-terciary-light:           #FFCC00;

$sv-color-date:                     #FF0000;
$sv-color-expired:                  #FB3F4A;

$sv-color-text:                     #707070;
$sv-color-text-grey-blue:           #628294;
$sv-color-text-grey-lightest:       #B1B4B6;
$sv-color-text-grey-light:          #7B7E85;
$sv-color-text-grey:                #494C4E;
$sv-color-text-links:               #858585;
$sv-color-text-links-light:         #B0C0C9;
$sv-color-text-pagination:          #A6BFCE;

$sv-color-background-white-red:     #EDEDED;
$sv-color-background-white:         #F8F8F8;
$sv-color-background-white-blue:    #F7FCFF;

$sv-color-background-default:      #F1F5F9;

$sv-color-graph-green:              #6BC5A2;

$sv-shadow:                           0px 4px 4px rgba(177, 180, 182, 0.5);
$sv-shadow-light:                     0px 1px 10px rgba(177, 180, 182, 0.5);
$sv-shadow-login:                     0px 2px 2px rgba(0, 0, 0, 0.25);