.sv-bill{
    &-data{
        border-radius: 2px;
        border: 2px solid $sv-color-primary-dark;
        margin-top: 8px;
        margin-bottom: 13px;

        h4{
            font-size: 1.0rem;
            font-family: $sv-font-family-primary-semibold;
            padding-top: 13px;
            padding-bottom: 8px;
        }

        .first-col{
            background-color: $sv-color-primary-dark;
            color: $sv-color-white;
            width: 100%;
            height: 100%;
        }

        .last-col{
            h4{
                color: $sv-color-primary-dark;
            }
        }
    }

    &-date{
        .col-md-6:first-child{
            padding: 0px;
            h4{
                font-size: 1.0rem;
                font-family: $sv-font-family-primary-semibold;
                color: $sv-color-primary-dark;
            }
        }

        .col-md-6:last-child{
           
            h4{
                font-size: 1.0rem;
                font-family: $sv-font-family-primary;
                color: $sv-color-primary-dark;
            }
        }
    }
}