.sv-colorbar{
    
    background-color: $sv-color-white;

    &--rainbow{
        background: linear-gradient(
        to right,
        $sv-color-primary 0,
        $sv-color-primary 22%,
        $sv-color-secondary 22%,
        $sv-color-secondary 44%,
        $sv-color-terciary 44%,
        $sv-color-terciary 100%
      );
      width: 100%;
      height: 4px;
    }

    &--primary{
        height: 3px;
        background-color: $sv-color-primary-dark;
    }

    &--secondary{
        height: 3px;
        margin-top: 10px;
        margin-bottom: 12px;
        background-color: $sv-color-secondary;
    }

    &--alternative{
        height: 3px;
        background-color: $sv-color-secondary-alternative;
    }

    &--small{
        height: 1px;
        margin-top: 13px;
        margin-bottom: 13px;

    }
}

