.sv-detail{
    
    &-total{
        text-align: center;
        border: 1px solid $sv-color-primary-dark;
        border-radius: 2px 2px 0px 0px;
        position: absolute;
        top: -40px;
        width: 100%;
        margin-right: 20px;
        background-color: $sv-color-white;

        

        .header{
            background-color: $sv-color-primary-dark;
            padding-top: 8px;
            padding-bottom: 8px;
            h3{
                color: $sv-color-white;
                font-size: 1.2rem;

            }
        }

        .body{
            h2{
                color: $sv-color-primary-dark;
                font-size: 2.3rem;
                padding-top: 13px;
                padding-bottom: 10px;
                font-family: $sv-font-family-primary-bold;
            }

            h3{
                color: $sv-color-primary-dark;
                padding-bottom: 17px;
                margin-bottom: 0px;
            }
        }

        &--alternative{
            .header{
                background-color: $sv-color-secondary-alternative;
            }

            .body{
                h2{
                    color: $sv-color-secondary-alternative;
                }
            }
        }
    }

    &--custom{
        margin-bottom: 42px;
        .header{
            padding-top: 9px;
        };
        .body{
            h2{
                font-size: 1.2rem;
            }
        }
    }

    
}