.sv-footer{
    
    img{
        max-height: 26px;
    }
    
    .sv-container:first-child{
        padding-top: 9px;
    padding-bottom: 9px;
        background-color: $sv-color-primary-dark;
    }

    h4{
        font-family: $sv-font-family-primary-semibold;
        color: $sv-color-white;
    }

    p{
        color: $sv-color-white;
    }
}