.sv-graph{
    &--bar{
        min-height: 156px;
    }

    &--circle{
        min-height: 126px;
    }

    &-simbology{
    
        .table > :not(caption) > * > * {
            padding: 1px 2px;
        }

        .table {
            color: $sv-color-text;
        }

        .simbology{

         

            &-green,&-green-light,&-alternative,&-alternative-dark{
                .result{
                    font-size: 1.1rem;
                    font-family: $sv-font-family-primary-semibold;
                }
                .square-td{
                    vertical-align: middle;
                }
                
                .square{
                    height: 8px;
                    width: 8px;
                    vertical-align:middle;
                }
            }
            
            &-green{
                .square{
                    background-color: $sv-color-secondary-dark;
                }

                .result{
                    color: $sv-color-secondary-dark;
                }
            }
            &-green-light{
                .square{
                    background-color: $sv-color-secondary-light;
                }
                .result{
                    color: $sv-color-secondary-light;
                }
            }
            &-alternative{
                .square{
                    background-color: $sv-color-secondary-alternative;
                }
                .result{
                    color: $sv-color-secondary-alternative;
                }
            }
            &-alternative-dark{
                .square{
                    background-color: $sv-color-secondary-alternative-dark;
                }
                .result{
                    color: $sv-color-secondary-alternative-dark;
                }
            }
        }
      
    }
}