.sv-header{

    background-color: $sv-color-white;

    &--first{
        margin-bottom: 42px;
    }

    &--second{

    }

    &--third{
        .logo{
            margin-bottom: 76px;
        }

        table{
            th{
                min-width: 94px;
                color: $sv-color-primary-dark;
            }
        }
    }

    &-info{
        padding-left: 43px;
        padding-top: 5px;
    }

    h2{
        font-size: 1.4rem;
        font-family: $sv-font-family-primary-semibold;
        text-transform: uppercase;
        color: $sv-color-primary-dark;
    }
    

    &-barcode{
        h3{
            text-transform: uppercase;
            font-size: 1.2rem;
            font-family: $sv-font-family-primary-bold;
        }

        .barcode{
            padding-bottom: 6px;
        }
    }
}