.sv-info{
    table{
        border: 1px solid $sv-color-primary-dark;
        th{
            background-color: $sv-color-primary-dark;
            color: $sv-color-white;
            text-align: center;
        }

        td{
            padding-left: 17px;
        }
    }
}