.sv-main {

    .item {
        height: 100%;
        background-color: $sv-color-white;

        .header {
            padding-left: 11px;

            h4 {
                color: $sv-color-white;
                font-family: $sv-font-family-primary-bold;  
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }

        .body {
            padding-left: 11px;
            padding-top: 11px;
            color: $sv-color-text;
            min-height: 85px;

            .title {
                font-family: $sv-font-family-primary-semibold;
            }

            .table {
                th,
                tr {
                    color: $sv-color-text;
                }
            }

            .qr{
                img{
                    width: 36px;
                    height: auto;
                }

                p{
                    font-size: 0.8rem;
                }
            }

            &--custom{
                background-color: $sv-color-background-default;
                padding-left: 7px;
                padding-top: 0px;
            }
        }

        &--blue {
            border: 1px solid $sv-color-primary-dark;
            .header {
                background-color: $sv-color-primary-dark;
            }
            .body{
                min-height: 213px;
            }
        }

        &--green {
            border: 1px solid $sv-color-secondary;
            .header {
                background-color: $sv-color-secondary;
            }

           
        }

        &--green-dark {
            border: 1px solid $sv-color-secondary-dark;
            .header {
                background-color: $sv-color-secondary-dark;
            }
           

            .header--custom{
                border-bottom: 1px solid $sv-color-secondary-dark;
                padding-left: 7px;
                background-color: initial;

                .first-col{
                    background-color: $sv-color-secondary-dark;
                }
                .last-col{
                    text-align: center;
                    h4{
                        color: $sv-color-secondary-dark;
                        font-family: $sv-font-family-primary-bold
                    }
                }
            }

            .body{
                .sv-table :not(caption) > * > *{
                    padding: 1px 6px;
                }
            }
        }

        &--green-light {
            border: 1px solid $sv-color-secondary-light;
            .header {
                background-color: $sv-color-secondary-light;
            }

            .header--custom{
                border-bottom: 1px solid $sv-color-secondary-light;
                padding-left: 7px;
                background-color: initial;

                .first-col{
                    background-color: $sv-color-secondary-light;
               
                }
                .last-col{
                    text-align: center;
                    h4{
                        color: $sv-color-secondary-light;
                        font-family: $sv-font-family-primary-bold
                    }
                }
            }
            
            .body{
                .sv-table :not(caption) > * > *{
                    padding: 2px 6px;
                }
            }
        }

        &--alternative {
            border: 1px solid $sv-color-secondary-alternative;
            .header {
                background-color: $sv-color-secondary-alternative;
            }
            .body{
                .sv-table :not(caption) > * > *{
                    padding: 1px 6px;
                }
            }

            .header--custom{
                border-bottom: 1px solid $sv-color-secondary-alternative;
                padding-left: 7px;
                background-color: initial;

                .first-col{
                    background-color:  $sv-color-secondary-alternative;
                }
                .last-col{
                    text-align: center;
                    h4{
                        color:  $sv-color-secondary-alternative;
                        font-family: $sv-font-family-primary-bold
                    }
                }
            }

            &.no-body{
                .header--custom{
                    border-bottom: initial;
                }
            }
        }

        
    }
}
