p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;

  b {
    font-family: $sv-font-family-primary-semibold;
    text-transform: uppercase;
  }
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}